spring:
  datasource:
    url: jdbc:mysql://dev-db:3306/librarydb
    username: dev_user
    password: dev_password
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true

server:
  port: 8082

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true