spring:
#  profiles:
#    active: local
  datasource:
    url: jdbc:h2:mem:librarydb
    driver-class-name: org.h2.Driver
    username: sa
    password: ""
  jpa:
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: 8081

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
    path: /swagger-ui.html